 .u-section-1 {
  min-height: 1214px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 10px auto 0 calc(((100% - 1140px) / 2) + -0px);
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 20px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  grid-auto-columns: calc(25% - 7.5px);
  min-height: 1103px;
}

.u-section-1 .u-list-item-1 {
  text-shadow: 2px 2px 6px rgba(0,0,0,0);
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 12px 12px 8px;
}

.u-section-1 .u-image-1 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 3px 2px 20px 0 rgba(80,99,101,0.3);
  text-shadow: 3px 2px 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 5px auto 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-style: none none solid;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px auto 0 0;
  padding: 2px 0;
}

.u-section-1 .u-list-item-2 {
  text-shadow: 2px 2px 6px rgba(0,0,0,0);
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 12px 12px 8px;
}

.u-section-1 .u-image-2 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 3px 2px 20px 0 rgba(80,99,101,0.3);
  text-shadow: 3px 2px 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 5px auto 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-style: none none solid;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px auto 0 0;
  padding: 2px 0;
}

.u-section-1 .u-list-item-3 {
  text-shadow: 2px 2px 6px rgba(0,0,0,0);
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 12px 12px 8px;
}

.u-section-1 .u-image-3 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 3px 2px 20px 0 rgba(80,99,101,0.3);
  text-shadow: 3px 2px 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 5px auto 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-style: none none solid;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px auto 0 0;
  padding: 2px 0;
}

.u-section-1 .u-list-item-4 {
  text-shadow: 2px 2px 6px rgba(0,0,0,0);
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 12px 12px 8px;
}

.u-section-1 .u-image-4 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 3px 2px 20px 0 rgba(80,99,101,0.3);
  text-shadow: 3px 2px 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 5px auto 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-style: none none solid;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px auto 0 0;
  padding: 2px 0;
}

.u-section-1 .u-list-item-5 {
  text-shadow: 2px 2px 6px rgba(0,0,0,0);
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 12px 12px 8px;
}

.u-section-1 .u-image-5 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 3px 2px 20px 0 rgba(80,99,101,0.3);
  text-shadow: 3px 2px 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  margin: 5px auto 0 0;
}

.u-section-1 .u-btn-5 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-style: none none solid;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px auto 0 0;
  padding: 2px 0;
}

.u-section-1 .u-list-item-6 {
  text-shadow: 2px 2px 6px rgba(0,0,0,0);
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 12px 12px 8px;
}

.u-section-1 .u-image-6 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 3px 2px 20px 0 rgba(80,99,101,0.3);
  text-shadow: 3px 2px 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  margin: 5px auto 0 0;
}

.u-section-1 .u-btn-6 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-style: none none solid;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px auto 0 0;
  padding: 2px 0;
}

.u-section-1 .u-list-item-7 {
  text-shadow: 2px 2px 6px rgba(0,0,0,0);
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 12px 12px 8px;
}

.u-section-1 .u-image-7 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 3px 2px 20px 0 rgba(80,99,101,0.3);
  text-shadow: 3px 2px 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  margin: 5px auto 0 0;
}

.u-section-1 .u-btn-7 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-style: none none solid;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px auto 0 0;
  padding: 2px 0;
}

.u-section-1 .u-list-item-8 {
  text-shadow: 2px 2px 6px rgba(0,0,0,0);
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 12px 12px 8px;
}

.u-section-1 .u-image-8 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 3px 2px 20px 0 rgba(80,99,101,0.3);
  text-shadow: 3px 2px 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  margin: 5px auto 0 0;
}

.u-section-1 .u-btn-8 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-style: none none solid;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px auto 0 0;
  padding: 2px 0;
}

.u-section-1 .u-list-item-9 {
  text-shadow: 2px 2px 6px rgba(0,0,0,0);
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 12px 12px 8px;
}

.u-section-1 .u-image-9 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 3px 2px 20px 0 rgba(80,99,101,0.3);
  text-shadow: 3px 2px 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-10 {
  font-size: 1.875rem;
  margin: 5px auto 0 0;
}

.u-section-1 .u-btn-9 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-style: none none solid;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px auto 0 0;
  padding: 2px 0;
}

.u-section-1 .u-list-item-10 {
  text-shadow: 2px 2px 6px rgba(0,0,0,0);
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 12px 12px 8px;
}

.u-section-1 .u-image-10 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 3px 2px 20px 0 rgba(80,99,101,0.3);
  text-shadow: 3px 2px 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-11 {
  font-size: 1.875rem;
  margin: 5px auto 0 0;
}

.u-section-1 .u-btn-10 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-style: none none solid;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px auto 0 0;
  padding: 2px 0;
}

.u-section-1 .u-list-item-11 {
  text-shadow: 2px 2px 6px rgba(0,0,0,0);
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 12px 12px 8px;
}

.u-section-1 .u-image-11 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 3px 2px 20px 0 rgba(80,99,101,0.3);
  text-shadow: 3px 2px 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  margin: 5px auto 0 0;
}

.u-section-1 .u-btn-11 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-style: none none solid;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px auto 0 0;
  padding: 2px 0;
}

.u-section-1 .u-list-item-12 {
  text-shadow: 2px 2px 6px rgba(0,0,0,0);
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 12px 12px 8px;
}

.u-section-1 .u-image-12 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 3px 2px 20px 0 rgba(80,99,101,0.3);
  text-shadow: 3px 2px 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-13 {
  font-size: 1.875rem;
  margin: 5px auto 0 0;
}

.u-section-1 .u-btn-12 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-style: none none solid;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + -0px);
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1057px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 11px 10px 14px;
  }

  .u-section-1 .u-image-1 {
    height: 240px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 11px 10px 14px;
  }

  .u-section-1 .u-image-2 {
    height: 240px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 11px 10px 14px;
  }

  .u-section-1 .u-image-3 {
    height: 240px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 11px 10px 14px;
  }

  .u-section-1 .u-image-4 {
    height: 240px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 11px 10px 14px;
  }

  .u-section-1 .u-image-5 {
    height: 240px;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 11px 10px 14px;
  }

  .u-section-1 .u-image-6 {
    height: 240px;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 11px 10px 14px;
  }

  .u-section-1 .u-image-7 {
    height: 240px;
  }

  .u-section-1 .u-container-layout-8 {
    padding: 11px 10px 14px;
  }

  .u-section-1 .u-image-8 {
    height: 240px;
  }

  .u-section-1 .u-container-layout-9 {
    padding: 11px 10px 14px;
  }

  .u-section-1 .u-image-9 {
    height: 240px;
  }

  .u-section-1 .u-container-layout-10 {
    padding: 11px 10px 14px;
  }

  .u-section-1 .u-image-10 {
    height: 240px;
  }

  .u-section-1 .u-container-layout-11 {
    padding: 11px 10px 14px;
  }

  .u-section-1 .u-image-11 {
    height: 240px;
  }

  .u-section-1 .u-container-layout-12 {
    padding: 11px 10px 14px;
  }

  .u-section-1 .u-image-12 {
    height: 240px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + -0px);
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1415px;
    grid-auto-columns: 33.3333%;
    grid-template-columns: repeat(3, calc(33.33333% - 5px));
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-image-1 {
    height: 253px;
  }

  .u-section-1 .u-btn-1 {
    font-weight: normal;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-image-2 {
    height: 253px;
  }

  .u-section-1 .u-btn-2 {
    font-weight: normal;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-image-3 {
    height: 253px;
  }

  .u-section-1 .u-btn-3 {
    font-weight: normal;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-image-4 {
    height: 253px;
  }

  .u-section-1 .u-btn-4 {
    font-weight: normal;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-image-5 {
    height: 253px;
  }

  .u-section-1 .u-btn-5 {
    font-weight: normal;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-image-6 {
    height: 253px;
  }

  .u-section-1 .u-btn-6 {
    font-weight: normal;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-image-7 {
    height: 253px;
  }

  .u-section-1 .u-btn-7 {
    font-weight: normal;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-image-8 {
    height: 253px;
  }

  .u-section-1 .u-btn-8 {
    font-weight: normal;
  }

  .u-section-1 .u-container-layout-9 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-image-9 {
    height: 253px;
  }

  .u-section-1 .u-btn-9 {
    font-weight: normal;
  }

  .u-section-1 .u-container-layout-10 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-image-10 {
    height: 253px;
  }

  .u-section-1 .u-btn-10 {
    font-weight: normal;
  }

  .u-section-1 .u-container-layout-11 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-image-11 {
    height: 253px;
  }

  .u-section-1 .u-btn-11 {
    font-weight: normal;
  }

  .u-section-1 .u-container-layout-12 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-image-12 {
    height: 253px;
  }

  .u-section-1 .u-btn-12 {
    font-weight: normal;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 0px);
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    min-height: 1102px;
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-1 {
    height: 184px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.1rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-2 {
    height: 184px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.1rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-3 {
    height: 184px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.1rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-4 {
    height: 184px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.1rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-5 {
    height: 184px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.1rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-6 {
    height: 184px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.1rem;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-7 {
    height: 184px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.1rem;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-8 {
    height: 184px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.1rem;
  }

  .u-section-1 .u-container-layout-9 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-9 {
    height: 184px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.1rem;
  }

  .u-section-1 .u-container-layout-10 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-10 {
    height: 184px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.1rem;
  }

  .u-section-1 .u-container-layout-11 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-11 {
    height: 184px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.1rem;
  }

  .u-section-1 .u-container-layout-12 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-12 {
    height: 184px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.10rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 9px 9px;
    grid-auto-columns: calc(50% - 4.5px);
    min-height: 146px;
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-1 .u-container-layout-1 {
    padding: 5px 5px 6px;
  }

  .u-section-1 .u-image-1 {
    height: 173px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 5px 5px 6px;
  }

  .u-section-1 .u-image-2 {
    height: 173px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 5px 5px 6px;
  }

  .u-section-1 .u-image-3 {
    height: 173px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 5px 5px 6px;
  }

  .u-section-1 .u-image-4 {
    height: 173px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 5px 5px 6px;
  }

  .u-section-1 .u-image-5 {
    height: 173px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 5px 5px 6px;
  }

  .u-section-1 .u-image-6 {
    height: 173px;
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 5px 5px 6px;
  }

  .u-section-1 .u-image-7 {
    height: 173px;
  }

  .u-section-1 .u-btn-7 {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
  }

  .u-section-1 .u-container-layout-8 {
    padding: 5px 5px 6px;
  }

  .u-section-1 .u-image-8 {
    height: 173px;
  }

  .u-section-1 .u-btn-8 {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
  }

  .u-section-1 .u-container-layout-9 {
    padding: 5px 5px 6px;
  }

  .u-section-1 .u-image-9 {
    height: 173px;
  }

  .u-section-1 .u-btn-9 {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
  }

  .u-section-1 .u-container-layout-10 {
    padding: 5px 5px 6px;
  }

  .u-section-1 .u-image-10 {
    height: 173px;
  }

  .u-section-1 .u-btn-10 {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
  }

  .u-section-1 .u-container-layout-11 {
    padding: 5px 5px 6px;
  }

  .u-section-1 .u-image-11 {
    height: 173px;
  }

  .u-section-1 .u-btn-11 {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
  }

  .u-section-1 .u-container-layout-12 {
    padding: 5px 5px 6px;
  }

  .u-section-1 .u-image-12 {
    height: 173px;
  }

  .u-section-1 .u-btn-12 {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
  }
}.BtnUrl {
	min-width:90% !important;
	max-width:90% !important;
}
.cont_image {
  position: relative;
  width: 50%;
}
.cont_image:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.cont_image {
  width: 100%;
  height: 100%;
}
.cont {
	padding:5px !important;
}

